html {
   background-color: #1F2430;
   color: #CBCCC6;
   font-family: Georgia;
}

html, body {
   margin: 0;
}

body {
   padding: 0 20%;
}

.comment {
   border: 4px solid #414650;
}

a {
   color: #77A8D9;
}

a:visited {
   color: #D4BFFF;
}

.screenreader-only {
   display: none;
}

code {
   background-color: #4C5763;
   color: #ddd;
}
